<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Reset Password</title>
<!-- import twitter bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- import flat ui -->
<link href="@routes.Assets.at("stylesheets/flat-ui.css")" rel="stylesheet">
<!-- import own css -->
<link href="@routes.Assets.at("stylesheets/resetPassword.css")" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div id="output"></div>
	    	<div class="container" id="formContainer">
				<form class="form-signin" id="login" role="form">
		            <h6 class="form-signin-heading">Reset password</h6>
		            <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="New Password" required autofocus>
		            <div class="input-group">
		            	<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
		            	<span  id="state" class="input-group-addon danger"><span id="icon" class="glyphicon glyphicon-remove"></span></span>
		            </div>
		            <div class="modal-footer">
		            	<button type="submit" class="btn btn-primary" name="continue">Continue</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal" name="cancel">Cancel</button>
				    </div>
	           </form>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="@routes.Assets.at("javascripts/resetPassword.js")"></script>
</body>
</html>
